# Dependencies
node_modules
dist
build

# Tauri
src-tauri/target
src-tauri/Cargo.lock

# IDE
.vscode
.idea

# Build outputs
*.log
*.tsbuildinfo

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
